@import "/fonts/geomanist/stylesheet.css";
@import "/fonts/lexend/stylesheet.css";

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #1a4d8f;
    --ifm-color-primary-dark: #164178;
    --ifm-color-primary-darker: #133a6b;
    --ifm-color-primary-darkest: #0e2c52;
    --ifm-color-primary-light: #1e59a6;
    --ifm-color-primary-lighter: #2264b8;
    --ifm-color-primary-lightest: #3a7ed4;
    --ifm-code-font-size: 95%;
    --ifm-font-family-base: "Lexend";
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-scrollbar-track-background-color: #fafafa;
    --ifm-scrollbar-thumb-background-color: #f0f0f0;
    --ifm-scrollbar-thumb-hover-background-color: #7a7a7a;
    --ifm-font-weight-normal: 300;
    --ifm-menu-color: #bbb;
    --ifm-footer-title-color: #bbb;
    --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.2)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    --docusaurus-tag-list-border: #eee;
    --ifm-heading-font-family: Geomanist, sans-serif;
    --ifm-heading-font-weight: 400;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #4a90d9;
    --ifm-color-primary-dark: #2f7ed1;
    --ifm-color-primary-darker: #2670be;
    --ifm-color-primary-darkest: #1f5c9c;
    --ifm-color-primary-light: #65a2e1;
    --ifm-color-primary-lighter: #7fb3e7;
    --ifm-color-primary-lightest: #a8cdf0;
    --ifm-footer-background-color: #111;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/**
 * For presentations
 */
.slide {
    padding: 2em 0;
}

.slide-image {
    margin-bottom: 2em;
}

.slide .slide-notes p:first-child {
    margin-top: 0;
}

@media (min-width: 800px) {

    .slide {
        display: flex;
        justify-content: space-between;
    }

    .slide .slide-image {
        width: 48%;
        margin-bottom: 0;
    }

    .slide .slide-notes {
        width: 48%;
    }

}

.credits {
    opacity: 0.5;
}

/**
 * Hide duplicated math formula 
 */
.katex-html {
    display: none;
}

/**
 * Footer column widths
 */
.footer__links {
    display: flex;
}

.footer__col:nth-child(1) {
    flex: 1;
}

.footer__col:nth-child(2) {
    flex: 2;
}

.footer__col:nth-child(3) {
    flex: 1;
}